
html,
body,
header,
#Intro {
    height: 100%;
}
.navbar-default{
    max-width: 100%;
}

#navbar {
    background-color: #161f297c;
    
}

#collapseicon {
    color: white;
}

#active {
    color: white;
}
body{
    background-color: #111;
    background-size: cover;
    margin: 0;
    max-width: 100%;
}

/* linear-gradient(180deg, #14101f 15%, rgba(128, 0, 0, 0) 40%, rgba(128, 0, 0, 0) 40%), */

#nameinfo {
    margin: 0;
    padding-top: 5%;
    padding-left: 5%;
}

#name {
    color: white;
    font-size: 20px;
}

#school {
    color: maroon;
}

#major {
    color: white;
}

#iconright{
    float: right;
    display: inline;
}

/* Image background */

#maxheight{
    max-height: 500px;
}

#cover{
    background-image: linear-gradient(0deg, rgb(34, 34, 34) 15%, rgba(128, 0, 0, 0) 40%, rgba(128, 0, 0, 0) 40%), url(images/background2.jpg);

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    height: 100%;
    background-position: center;
    width: 100%;
}

.parallax-home{
    background-image: url(images/background2.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

html{

    scroll-behavior: smooth;
}

#aboutme{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#coverphoto{
    padding-top: 25vh;
    background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }

  .imagecenter {
        position: absolute;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}